# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# ======================
# Virtual Environment
# ======================
venv/
.env/
.env.*
.env
.adk
# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs & temp
# ======================
*.log
*.tmp

# ======================
# ML / Data / Artifacts
# ======================
mlruns/
artifacts/
models/
checkpoints/
data/
*.pkl
*.joblib

# ======================
# Build / cache
# ======================
build/
dist/
*.egg-info/

# ======================
# UV / Poetry
# ======================
.uv/
uv.lock